USE [master]
GO
/****** Object:  Database [Fit_db]    Script Date: 06.09.2023 10:27:03 ******/
CREATE DATABASE [Fit_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fit_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Fit_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fit_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Fit_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fit_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fit_db]
GO
/****** Object:  Schema [g]    Script Date: 06.09.2023 10:27:03 ******/
CREATE SCHEMA [g]
GO
/****** Object:  Table [dbo].[FitData]    Script Date: 06.09.2023 10:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FitData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JsonLine] [nvarchar](max) NULL,
	[JsonName] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FitData] ON 

GO
SET IDENTITY_INSERT [dbo].[FitData] OFF
GO
USE [master]
GO
