USE [garmin]
GO
DROP INDEX IF EXISTS [IX_Garmin/RestingHr_day] ON [src].[Garmin/RestingHr] WITH ( ONLINE = OFF )
GO
DROP TABLE IF EXISTS [src].[Garmin/RestingHr]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [src].[Garmin/RestingHr](
	[day] [date] NULL,
	[resting_heart_rate] [float] NULL
) ON [PRIMARY]
GO
CREATE UNIQUE CLUSTERED INDEX [IX_Garmin/RestingHr_day] ON [src].[Garmin/RestingHr]
(
	[day] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
