USE [garmin]
GO
DROP TABLE IF EXISTS [acc].[SrcTableConfig]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [acc].[SrcTableConfig](
	[Domain] [varchar](50) NULL,
	[SourceTableName] [varchar](100) NULL,
	[SchemaName] [varchar](50) NULL,
	[ViewName] [varchar](150) NULL,
	[TargetTableName] [varchar](150) NULL,
	[LoadEnabledInd] [bit] NULL,
	[PrimaryColumnName] [varchar](50) NULL,
	[IndexEnabledInd] [bit] NULL,
	[MergeType] [varchar](50) NULL
) ON [PRIMARY]
GO
