USE [garmin]
GO
DROP INDEX IF EXISTS [IX_Garmin/Devices_timestamp] ON [src].[Garmin/Devices]
GO
DROP TABLE IF EXISTS [src].[Garmin/Devices]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [src].[Garmin/Devices](
	[serial_number] [int] NULL,
	[timestamp] [datetime2](7) NULL,
	[device_type] [nvarchar](255) NULL,
	[manufacturer] [nvarchar](24) NULL,
	[product] [nvarchar](255) NULL,
	[hardware_version] [nvarchar](255) NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Garmin/Devices_timestamp] ON [src].[Garmin/Devices]
(
	[timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
