USE [garmin]
GO
DROP VIEW IF EXISTS [src].[vwGarmin/Files]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [src].[vwGarmin/Files] as select * from openquery(garmin,'select * from files')
GO
