USE [garmin]
GO
DROP VIEW IF EXISTS [src].[vwGarminActivities/Attributes]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [src].[vwGarminActivities/Attributes] as select * from openquery(garmin_activities,'select * from _attributes')
GO
