USE [garmin]
GO
DROP VIEW IF EXISTS [src].[vwGarminActivities/ActivitySplits]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [src].[vwGarminActivities/ActivitySplits] as select * from openquery(garmin_activities,'select * from activity_splits')
GO
