USE [garmin]
GO
DROP TABLE IF EXISTS [src].[Garmin/Files]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [src].[Garmin/Files](
	[id] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[type] [nvarchar](28) NULL,
	[serial_number] [int] NULL
) ON [PRIMARY]
GO
