USE [garmin]
GO
DROP INDEX IF EXISTS [IX_Garmin/Attributes_timestamp] ON [src].[Garmin/Attributes]
GO
DROP TABLE IF EXISTS [src].[Garmin/Attributes]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [src].[Garmin/Attributes](
	[timestamp] [datetime2](7) NULL,
	[key] [nvarchar](255) NULL,
	[value] [nvarchar](255) NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Garmin/Attributes_timestamp] ON [src].[Garmin/Attributes]
(
	[timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
