USE [garmin]
GO
DROP VIEW IF EXISTS [src].[vwGarminActivities/ClimbingActivities]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [src].[vwGarminActivities/ClimbingActivities] as select * from openquery(garmin_activities,'select * from climbing_activities')
GO
