USE [garmin]
GO
DROP VIEW IF EXISTS [src].[vwGarminActivities/ActivitiesDevices]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [src].[vwGarminActivities/ActivitiesDevices] as select * from openquery(garmin_activities,'select * from activities_devices')
GO
