USE [garmin]
GO
DROP INDEX IF EXISTS [IX_Garmin/DeviceInfo_timestamp] ON [src].[Garmin/DeviceInfo]
GO
DROP TABLE IF EXISTS [src].[Garmin/DeviceInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [src].[Garmin/DeviceInfo](
	[timestamp] [datetime2](7) NULL,
	[file_id] [nvarchar](255) NULL,
	[serial_number] [int] NULL,
	[software_version] [nvarchar](255) NULL,
	[cum_operating_time] [time](0) NULL,
	[battery_status] [nvarchar](8) NULL,
	[battery_voltage] [float] NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Garmin/DeviceInfo_timestamp] ON [src].[Garmin/DeviceInfo]
(
	[timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
