USE [garmin]
GO
DROP INDEX IF EXISTS [IX_GarminMonitoring/Monitoring_timestamp] ON [src].[GarminMonitoring/Monitoring]
GO
DROP TABLE IF EXISTS [src].[GarminMonitoring/Monitoring]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [src].[GarminMonitoring/Monitoring](
	[timestamp] [datetime2](7) NULL,
	[activity_type] [nvarchar](17) NULL,
	[intensity] [int] NULL,
	[duration] [time](0) NULL,
	[distance] [float] NULL,
	[cum_active_time] [time](0) NULL,
	[active_calories] [int] NULL,
	[steps] [int] NULL,
	[strokes] [int] NULL,
	[cycles] [float] NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_GarminMonitoring/Monitoring_timestamp] ON [src].[GarminMonitoring/Monitoring]
(
	[timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
