USE [garmin]
GO
DROP VIEW IF EXISTS [src].[vwGarmin/DeviceInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [src].[vwGarmin/DeviceInfo] as select * from openquery(garmin,'select * from device_info')
GO
