USE [garmin]
GO
DROP VIEW IF EXISTS [src].[vwGarmin/Attributes]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [src].[vwGarmin/Attributes] as select * from openquery(garmin,'select * from _attributes')
GO
