USE [garmin]
GO
DROP VIEW IF EXISTS [src].[vwGarminMonitoring/Attributes]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [src].[vwGarminMonitoring/Attributes] as select * from openquery(garmin_monitoring,'select * from _attributes')
GO
