USE [garmin]
GO
DROP VIEW IF EXISTS [src].[vwGarmin/Devices]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [src].[vwGarmin/Devices] as select * from openquery(garmin,'select * from devices')
GO
