USE [garmin]
GO
DROP VIEW IF EXISTS [src].[vwGarminSummary/Attributes]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [src].[vwGarminSummary/Attributes] as select * from openquery(garmin_summary,'select * from _attributes')
GO
