USE [garmin]
GO
DROP INDEX IF EXISTS [IX_GarminMonitoring/MonitoringInfo_timestamp] ON [src].[GarminMonitoring/MonitoringInfo]
GO
DROP TABLE IF EXISTS [src].[GarminMonitoring/MonitoringInfo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [src].[GarminMonitoring/MonitoringInfo](
	[timestamp] [datetime2](7) NULL,
	[file_id] [int] NULL,
	[activity_type] [nvarchar](17) NULL,
	[resting_metabolic_rate] [int] NULL,
	[cycles_to_distance] [float] NULL,
	[cycles_to_calories] [float] NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_GarminMonitoring/MonitoringInfo_timestamp] ON [src].[GarminMonitoring/MonitoringInfo]
(
	[timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
