USE [garmin]
GO
DROP VIEW IF EXISTS [src].[vwGarminSummary/Summary]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [src].[vwGarminSummary/Summary] as select * from openquery(garmin_summary,'select * from summary')
GO
