USE [garmin]
GO
DROP TABLE IF EXISTS [src].[GarminActivities/ClimbingActivities]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [src].[GarminActivities/ClimbingActivities](
	[total_routes] [int] NULL,
	[activity_id] [nvarchar](255) NULL
) ON [PRIMARY]
GO
