USE [garmin]
GO
DROP TABLE IF EXISTS [src].[GarminActivities/ActivitiesDevices]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [src].[GarminActivities/ActivitiesDevices](
	[activity_id] [nvarchar](255) NULL,
	[device_serial_number] [int] NULL
) ON [PRIMARY]
GO
